%h1= note_title
%form{:action => "/note/#{note_title}/save", :method => 'POST'}
  %textarea{:cols => 40, :rows => 20, :name => 'note_content'}
    =content
  %input{:type => 'submit', :value => 'Save'}
